


body {
  background-color: #dcffdc;
  color: darkgreen;
  font-family: "Antic Slab", serif;
}

h1, h2 {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}

header {
  background-color: white;
}

[type=text], [type=email] {
  padding: 5px;
}

.introduction {
  font-size: 25px;
  text-align: center;
  color:rgb(30,30,30);
}

.profile {
  background-color: white;
  color: rgb(30,30,30);
}

.profile-description {
  color:rgb(30,30,30);
}

#para1{
  background-color: green;
  text-align: center;
  color:white;
  font-size: x-large;
}

.right {
  text-align: right;
  background-color: aqua;
}